@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color: #fe2c55;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    // Search thêm để biết về thuộc tính này
    text-rendering: optimizeSpeed;
}
